---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---
<Layout title = "About Me" description="About Srijan Ray">
    <div>
        <Navbar title = "head" />
    </div>
    <div>
        <h1>About Me</h1>
    </div>
</Layout>