---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<div>
    <Navbar title = "head" />
</div>
<div class="z-9999 pt-90">
    <h1>Contact Me!</h1>
</div>
