---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Srijan Ray">
	<main>
		<!--Navigation Bar -->
		<div>
			<Navbar title = "head" />
		</div>

		<h1 class ="text-center text-black text-2xl">Hello, I'm Srijan!</h1>

		<div class="pt-12 py-14 pl-11 pr-10 bg-slate-100 grid grid-cols-2 ">
			<div class="pt-12 py-14 pl-11 pr-10 order-1">
				<p class = "text-6xl font-sans font-bold leading-relaxed">
					I am a Computer Science Student at Georgia Tech studying Machine Learning and its applications in the biomedical field.
				</p>
			</div>
			<div class="pt-12 py-14 pl-11 pr-10 order-2">
				<img
				class="h-auto max-w-full shadow-sm"
				src="https://lh3.googleusercontent.com/QfXKC25WeCAci_DxAgpNaanA2qgwxW6QfqKRO6Q3HXRhZv30zRPWMAOeGZUci6HCMNzme7zMSjSKBEHyHEfCTj5FtpcYCzJS5uV0V_De9vDdVgN-vWPxd3xvFuiWtqXfSg=w1280"
				alt="Picture of Srijan Ray"
				/>
			</div>
		</div>
	</main>
</Layout>


