---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Srijan Ray">
	<main>
		<!--Navigation Bar -->
		<div>
			<Navbar title = "head" />
		</div>
		
		<h1 class ="text-center text-orange-500">Hello Srijan</h1>
		<p class="instructions">
		</p>
	</main>
</Layout>


