---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HomeProjectCard from '../components/HomeProjectCard.astro';
---
<Layout title = "Projects" description="Srijan Ray's Personal Projects">
    <div>
        <Navbar title = "head" />
    </div>
    <div>
        <h1>Projects</h1>
        
        <img
            src = "SLCConference.jpg"
            alt = "Srijan Ray Presentation at Johns Hopkins Applied Physics Laboratory Student Learning Conference"
            class="w-auto h-96"/>
            
    </div>
    <div class="grid grid-cols-3">
        <div class="">
            <HomeProjectCard heading = "Machine Learning for Radiation Resistance Detection", href="/projects", photo="OverviewOfMLWebsite.png", altText="insert random stuff "/>
        </div>
        <div>
            <HomeProjectCard heading = "Deep Learning Image Segmentation for Breast Cancer Detection", href="/about", photo="PicForBCDLExp.png", altText="insert random stuff "/>
        </div>
        <div>
            <HomeProjectCard heading = "Project 1", href="/projects"/, photo="">
        </div>
    </div>
    
</Layout>